<!--Script references. -->
<!--Reference the jQuery library. -->
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@


    @*<style>
        body {
            font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #A7A1AE;
            background-color: #1F2739;
        }

        #teamTable table {
            border-collapse: collapse;
        }

            #teamTable table th, #teamTable table td {
                padding: 2px 6px;
            }

            #teamTable table td {
                text-align: right;
            }

        #teamTable .loading td {
            text-align: left;
        }
    </style>*@

<script type="text/javascript">
  setInterval(function(){
      $('blink').each(function() {
        $(this).css('visibility', $(this).css('visibility') === 'hidden' ? 'visible' : 'hidden')
      });
    }, 500);
</script>


    <link rel="stylesheet" href="~/Content/teamTable.css" />
    <h1>ASP.NET SignalR Amazing Race</h1>

    <blink><h2>Live Race Table</h2></blink>
    <div id="teamTable">
        <table class="container">
            <thead>
                <tr>
                    <th><h1>Rank</h1></th>
                    <th><h1>Team</h1></th>
                    <th><h1>Total PitStops</h1></th>
                    <th><h1>PitStops Cleared</h1></th>
                    <th><h1>Remaining</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr class="loading"><td colspan="5">loading...</td></tr>
            </tbody>
        </table>
    </div>


    