@{
    Layout = null;
}

<!DOCTYPEhtml>
<html>
<head>
    <metaname ="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        .alert-danger {
            background-color: #f2dede;
            border-color: #ebcccc;
            color: #a94442;
        }

        .alert {
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
        div{
            display:block;
        }

    </style>
</head>
<body>
    <div class="alert alert-danger">
        <strong>Error!!</strong> There is some error while processing your request 
    </div>
</body>
</html>