@using AmazingRaceMVC.Models;
@model IList<Event> 

@{
    ViewBag.Title = "DisplayEvents";
}

<div style="padding-top:50px">
    <table id= "list2"></table>
    <div id="pager2"></div>
</div>

<script src="~/Scripts/EventDisplayGrid.js"></script>
